<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이미지 업로드</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="uploadFile">
        <input type="file" name="uploadFile" id="uploadFile" multiple onchange="getFileInfo(this)">
    </div>


</body>

<script>
    let fileInfoList = [];
    let files = [];

    function uploadFile(file) {
        let formData = new FormData();
        formData.append("type", "csr");
        formData.append("menuCd", "csr");
        formData.append("file", file);

        $.ajax({
            url: '/file/uploadFile.do',
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (res){
                console.log(res);
            },
            error: function () {

            }
        })
    }

    function getFileInfo(e){
        if(e.files.length != 0){
            for(let i = 0; i < e.files.length; i++){
                let file = e.files[i];

                fileInfoList.push({
                    'fileSq': 0,
                    'fileOriginName': file.name,
                    'fileSize': file.size,
                    'fileType': file.type,
                    'url': URL.createObjectURL(file),
                    'fileSaveName': ''
                });

                // 파일 업로드
                uploadFile(file);
            }
        }
    }



</script>

</html>